[MASTER]
ignore=venv
jobs=1

[MESSAGES CONTROL]
disable=C0301  # line-too-long
disable=R0903 # too-few-public-methods   

[FORMAT]
max-line-length=88
indent-string='    '

[REPORTS]
output-format=colorized
reports=no

[DESIGN]
max-args=6
max-locals=15
max-returns=6
max-branches=12
max-statements=50