[MASTER]
ignore=venv
jobs=1

[MESSAGES CONTROL]
disable=too-few-public-methods,line-too-long,too-many-positional-arguments,W0511

[FORMAT]
max-line-length=88
indent-string='    '

[REPORTS]
output-format=colorized
reports=no

[DESIGN]
max-args=6
max-locals=15
max-returns=6
max-branches=12
max-statements=50